<h1><%= movie.Title %></h1>
<h4><%= movie.Rated %></h4>
<h4><%= movie.Genre %></h4>
<h5><%= movie.Director %></h5>
<h5><%= movie.Actors %></h5>
<h5><%= movie.Ratings[2].Value%></h5>
<h5><a href='<%= movie.Website%>' >Website</h5>
<h5><%= movie.Year %></h5>
<p><img src='<%= movie.Poster%>' ></p>
